* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: Helvetica;
}

/* Modification de la couleur de fond de l'entête de page et le pied de page */
.smartbike-header,
.smartbike-footer {
    background-color: rgb(41, 61, 48);
}

/* Stylisation de l'entête de page */
.smartbike-header {
    min-height: 120px;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}

.smartbike-logo {
    color: white;
    font-size: 2.5rem;
    margin-left: 1em;
    align-self: center;
}

.smartbike-links {
    display: flex;
    align-items: center;
}

.smartbike-pages {
    display: flex;
    align-self: center;

    li {
        margin-right: 3em;
    }

    a {
        font-size: 1.7rem;
        color: white;
    }
}

/* Menu 'burger' */
.smartbike-burger {
    display: none;
    cursor: pointer;
    align-self: center;
    margin-right: 2em;
    width: 20%;
}

.burger-bar {
    display: block;
    height: 6px;
    width: 45px;
    background-color: white;
    transition: .5s ease;
}

.burger-bar:nth-child(2) {
    margin: .5em 0;
}

/* Stylisation de la page d'accueil */
.smartbike-welcome {
    text-align: center;
    padding: 1em 0;
}

.smartbike-infos {
    margin: 2em auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.smartbike-infos-text {
    width: 50%;

    h2,
    p {
        margin-bottom: 2vh;
    }
}

.smartbike-recent-release {
    text-align: center;
}

.smartbike-recent-release-name {
    width: 90%;
    margin: 5vh auto;
}

.smartbike-recent-release p {
    margin: 3vh auto;
}

/* Délimiteur */
.smartbike-delimiter {
    width: 95%;
    margin: 3vh auto;
    border: .3vh dashed;
    border-color: rgb(41, 61, 48);
}

/* Stylisation du pied de page */
.smartbike-footer {
    color: white;
    padding: 2em 0;
    font-size: 1.5rem;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 1023px) {
    .smartbike-logo {
        margin-left: .5em;
    }

    /* Modifications liées au menu 'burger' */
    .smartbike-burger {
        display: block;
    }

    .smartbike-pages {
        background-color: rgb(41, 61, 48);
        position: fixed;
        left: -100%;
        top: 110px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: .5s;

        li {
            margin-right: 0%;
            margin-bottom: 1em;
        }
    }

    .smartbike-pages.active {
        left: 0;
    }

    .smartbike-burger.active .burger-bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .smartbike-burger.active .burger-bar:nth-child(2) {
        opacity: 0;
    }

    .smartbike-burger.active .burger-bar:nth-child(3) {
        transform: translateY(-18px) rotate(-45deg);
    }

    /* Page d'accueil */
    .smartbike-infos {
        margin: 1vh auto;
        display: block;
    }

    .smartbike-infos-text {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .smartbike-infos-img {
        text-align: center;
        margin-top: 6.5vh;
    }

    /* Images du site automatiquement responsive */
    img {
        max-width: 100%;
        height: auto;
    }
}