* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: Helvetica;
}

.smartbike-header,
.smartbike-footer {
    background-color: rgb(41, 61, 48);

    a {
        color: white;
    }
}

.smartbike-footer {
    color: white;
}